html {
    font-size: 16px;
}

body {
    background: url("../images/kyle-johnson-8Gl7Ew-q6D8-unsplash.jpg");
    background-repeat: no-repeat;
}


header {
    text-align: center;
    /*background: rgba(10, 10, 30, 0.7);*/
    color: white;
    position: absolute;
    height: auto;
    width: 100%;
    top: 0;
    left: 0;
    
}

table {
    border: 0.1rem solid black;
    border-collapse: collapse;
    width: 95%;
    margin-left: 2.5%;
    background: url("../images/kyle-johnson-8Gl7Ew-q6D8-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 1rem;
    margin-top: 6rem;
}

table caption {
    border: 0.5em solid rgba(10, 10, 30, );
    font-size: 1.5rem;
    background-color: rgba(10, 10, 30, 0.1);
    
}

table caption input {
    text-align: right;/*This puts our 0 to the right*/
    color: rgb(84, 84, 84);

}

th, td {
    border: 0.1rem solid black;
    padding: 0.5em;
    text-align: center;
    box-shadow: 2px 2px 2px black;
}

input {
    width: 95%;
    height: 5rem;
    font-size: 2rem;
}

.buttons {
    box-shadow: 2px 2px 2px white;
    border: 2px solid rgba(10, 10, 30, 0.4);
    border-radius: 1rem;
    color: rgb(84, 84, 84);
}

input:active {
    box-shadow: none;
}

footer {
    text-align: center;
    width: 100%;
    /*background: rgba(10, 10, 30, 0.7);*/
    position: absolute;
    padding-bottom: 1rem;
    align-items: center;
    justify-content: center;
    left: 0;
    
}

footer p {
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: orange;
}

